#root {
	/*color: white;
	background-color: black;*/
	height: 100vh;
}

.App {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.controls {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.play-button {
	font-size: 2em;
	padding: 20px 40px;
	border-radius: 50px;
	background-color: #4caf50;
	color: white;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s;
}

.play-button:hover {
	background-color: #45a049;
}

select,
.volume-control {
	width: 200px;
	padding: 10px;
	font-size: 1em;
}

.volume-control {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.volume-control label {
	margin-bottom: 5px;
}

input[type='range'] {
	width: 100%;
}

.swiper-slide img {
	object-fit: cover;
	width: 100%;
	height: 100vh;
}
